<a href="https://colab.research.google.com/github/ARAVINDH2004/FODS/blob/Reprocessing/Reprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [8]:
# remove rows
from pandas import read_csv as rc
df = rc('Data.csv')
df.dropna(inplace = True)
print(df.to_string())
# print(df)

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
5   France  35.0  58000.0       Yes
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [11]:
# filling the missing data
from pandas import read_csv as rc
df = rc('Data.csv')
df.fillna(666,inplace = True)
print(df.to_string())

   Country    Age   Salary Purchased
0   France   44.0  72000.0        No
1    Spain   27.0  48000.0       Yes
2  Germany   30.0  54000.0        No
3    Spain   38.0  61000.0        No
4  Germany   40.0    666.0       Yes
5   France   35.0  58000.0       Yes
6    Spain  666.0  52000.0        No
7   France   48.0  79000.0       Yes
8  Germany   50.0  83000.0        No
9   France   37.0  67000.0       Yes

In [12]:
# filling the missing data in the particular column
from pandas import read_csv as rc
df = rc('Data.csv')
df["Salary"].fillna(444 , inplace = True)
print(df.to_string())

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0    444.0       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [13]:
# filling the missing data with the mean value in the particular column
from pandas import read_csv as rc
df = rc('Data.csv')
m=df['Age'].mean()
df['Age'].fillna(m,inplace=True)
print(df.to_string())

   Country        Age   Salary Purchased
0   France  44.000000  72000.0        No
1    Spain  27.000000  48000.0       Yes
2  Germany  30.000000  54000.0        No
3    Spain  38.000000  61000.0        No
4  Germany  40.000000      NaN       Yes
5   France  35.000000  58000.0       Yes
6    Spain  38.777778  52000.0        No
7   France  48.000000  79000.0       Yes
8  Germany  50.000000  83000.0        No
9   France  37.000000  67000.0       Yes

In [2]:
# cleaning data of wrong format
import pandas as pd
from pandas import read_csv as rc
df = rc('Data_new.csv')
df['Date'] = pd.to_datetime(df['Date'])
print(df.to_string())

   Country   Age   Salary Purchased       Date
0   France  44.0  72000.0        No 2000-01-12
1    Spain  27.0  48000.0       Yes 2000-12-12
2  Germany  30.0  54000.0        No 2000-12-13
3    Spain  38.0  61000.0        No 2000-12-14
4  Germany  40.0      NaN       Yes 2000-12-21
5   France  35.0  58000.0       Yes 2000-12-31
6    Spain   NaN  52000.0        No 2000-09-12
7   France  48.0  79000.0       Yes 2000-01-11
8  Germany  50.0  83000.0        No 2000-01-02
9   France  37.0  67000.0       Yes 2000-01-12

<ipython-input-2-66e0000790b3>:5: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df['Date'] = pd.to_datetime(df['Date'])